*body html {
    margin: 0;
    padding: 0;
    outline: none;

    box-sizing: border-box;
}

:root {
    --expandable-section-background: #2b2d30;
    --expandable-section-text: #EEEEEE;
    --text-on-expandable-background: #F5F5F5;
    --number-input-background: #212121;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    align-items: center;
    display: flex;
    flex: 0 0 auto;
    height: 48px;
    justify-content: space-between;
    padding: 0 12px;
}

/* Container for renderer (left) and tabs (right). */
.editor-body-root {
    display: flex;
    flex: auto;
    /* Grows to fill space under header */
    height: 0;
}

.mvContainer {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 100%;
}

.btnForm {
    position: relative;
    padding: 5px;
    margin: 5px;
}

#glbExportBtn {
    position: relative;
    z-index: 10;
    margin: 0 0 10px 0;
    border-style: none;
    height: 36px;
    width: 150px;
    border-radius: 5px;
    background: var(--mdc-theme-primary, #6200ee);
    color: #F5F5F5;
    font-size: 15px;
    cursor: pointer;
}

.copyForm{
    position: relative;
    display: flex;
}

#downloadGlb{
    margin-top: 10px;
    border-radius: 5px;
    border-style: none;
    height: 36px;
    width: 150px;
    color: #F5F5F5;
    background: var(--mdc-theme-primary, #6200ee);
    font-size: 15px;
    cursor: pointer;
}

#inputUrl {
    position: relative;
    width: 15rem;
    height: 30px;
    margin-right: 5px;
    margin: 0 0 10px 0;
    border-style: none;
    z-index: 30;
}

#urlCopyBtn {
    position: relative;
    height: 30px;
    color: #dadcff;
    border-style: none;
    cursor: pointer;
    z-index: 30;
}
#urlCopyBtn .material-icons {
    font-size: 30px;
}

#urlCopyBtn::before{
    content: "Copied";
    position: absolute;
    top: -45px;
    right: -25px;
    background: #5c81dc;
    padding: 8px 10px;
    border-radius: 20px;
    font-size: 15px;
    display: none;
}
#urlCopyBtn::after{
    content: "";
    position: absolute;
    top: -20px;
    right: 10px;
    width: 10px;
    height: 10px;
    background: #5c81dc;
    transform: rotate(45deg);
    display: none;
}
#urlCopyBtn:active::before,
#urlCopyBtn:active::after{
    display: block;
}
model-viewer-preview {
    height: 100%;
}

me-tabs {
    background-color: #202124;
    /* GOOGLE_GREY_900 */
    padding: 0;
    width: 360px;
    min-width: 360px;
    max-width: 360px;
    position: absolute;
    left: 0;
    height: 100vh;
}

me-tabs a {
    color: #dadcff;
    /* GOOGLE_GREY_300, but.. bluer */
}

me-tabbed-panel {
    max-height: calc(100vh - 105px);
    /* overflow-y: auto; */
    display: block;
}

.privacy {
    color: #BDBDBD;
    padding: 5px 16px;
    /* position: absolute; */
    bottom: 0;
    font-size: small;
    z-index: 0;
    background-color: rgba(32, 33, 36, .75);
}

@media only screen and (max-height: 600px) {
    .privacy {
        z-index: -1;
    }
}

.privacy-link {
    color: #BDBDBD;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
}

::-webkit-scrollbar:vertical {
    width: 12px;
}

::-webkit-scrollbar:horizontal {
    height: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, .5);
    border-radius: 10px;
    border: 2px solid #ffffff;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: #ffffff;
}